/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * JQUERY Datatable
 */
/*Hide the search bar in table*/
.dataTables_filter {
  display: none!important;
}

/*
 * Popup
 */
.custom_popup{
  margin: auto;
  background: white;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  left: 0;
  top: 0;
}
.popup_80{
  width: 80%;
}

/*#view_detail_popup {
    width: 80%;
    margin: auto;
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    left: 0;
    top: 0;
}

#add_popup, 
#add_cate_popup, 
#add_sup_popup,
#view_detail_popup {
    width: 50%;
    margin: auto;
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    left: 0;
    top: 0;
}*/

#save_btn:hover, .save_btn:hover, #submit_btn:hover{
  background: green;
  color: #FFF;
}

#sold_btn:hover{
  background: red;
  color: #FFF;
}

.close_btn:hover,#back_btn:hover,.back_btn:hover{
  background: #564f4f;
  color: #FFF;
}

.editable:hover{
  background: #e6dede;
}

/*
 * Tags
 */
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags i {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  /*margin: 0 10px 10px 0;*/
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #f39c12;
  color: white;
  cursor: pointer;
}

.tag:hover::after {
   border-left-color: #f39c12; 
}

/* Price font */
.price-font{
  font-family: fantasy;
  font-size: 20px;
}

/* Edit button */
.edit-btn{
  color:#cec5c5;
  font-size:20px
}
.edit-btn:hover{
  color:inherit;
  cursor: pointer;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: crosshair !important;
}
/* Change cursor when over entire map */
.leaflet-container {
  cursor: help !important;
}

textarea { resize: vertical; }

/* Selectable Jquery */
.ui-selected{
  border: 2px solid red;
}

/* Dropzone - Upload images */
.dropzone{
  border: 6px dashed rgb(34, 34, 34)!important;
}

.dropzone .dz-message{
  font-family: inherit;
  font-size: 25px;
}